{# templates/admin/settings/prices/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin - Add Places Price Rule{% endblock %}

{% block body %}
    <h1>Add Places Price Rule</h1>

    {{ form_start(form) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.per_days) }}
        {{ form_row(form.per_person) }}
        {{ form_row(form.seasons) }}
        <button type="submit">Add Rule</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_settings_prices') }}">Back to List</a>
{% endblock %}
