{% extends 'base.html.twig' %}
{% import "macro/_reservation_table.html.twig" as macros %}

{% block title %}Admin - Reservations Rules{% endblock %}

{% block body %}
    <div class="container mx-auto py-6">
        <h1 class="text-3xl font-bold mb-4">Reservations Rules</h1>

        <div class="flex mb-4">
            <h2 class="text-2xl font-bold">Jours d'arrivées </h2>
            <div class="my-auto text-xl"><a class="p-2" href="{{ path('admin_settings_reservations_add', {'type': 'checkIn'}) }}"><i class="fa fa-plus"></i></a></div> 
        </div>
        {{ macros.check_table(checkin,'checkIn') }}
        
        <div class="flex mb-4">
            <h2 class="text-2xl font-bold">Jours de départ </h2>
            <div class="my-auto text-xl"><a class="p-2" href="{{ path('admin_settings_reservations_add', {'type': 'checkOut'}) }}"><i class="fa fa-plus"></i></a></div> 
        </div>
        {{ macros.check_table(checkout,'checkOut') }}
        
        <div class="flex mb-4">
            <h2 class="text-2xl font-bold">Durée minimum de séjour </h2>
            <div class="my-auto text-xl"><a class="p-2" href="{{ path('admin_settings_reservations_add', {'type': 'minStay'}) }}"><i class="fa fa-plus"></i></a></div> 
        </div>
        {{ macros.stay_table(minstay,'minStay') }}
        
        <div class="flex mb-4">
            <h2 class="text-2xl font-bold">Durée maximum de séjour </h2>
            <div class="my-auto text-xl"><a class="p-2" href="{{ path('admin_settings_reservations_add', {'type': 'maxStay'}) }}"><i class="fa fa-plus"></i></a></div> 
        </div>
        {{ macros.stay_table(maxstay,'maxStay') }}
        
    </div>
{% endblock %}
