{% extends 'admin/settings/base.html.twig' %}
{% import "macro/_footer_admin.html.twig" as footer %}
{% import "macro/_svg.html.twig" as svg %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}


	<container>
		<header class="text-center my-8">
			<h1 class="text-3xl peer-hover:text-white">Paramètres du camping</h1>
			<p class="text-xl">Bienvenue
				<span class="underline">Nabil</span>, que souhaitez vous paramétrer ?</p>
		</header>

		<section id="admin-cards" class=" my-12 grid grid-cols-3 gap-12 mx-auto w-fit p-4">
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href="{{ path('admin_settings_camping') }}" class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.camping }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Infos
						<span class="font-semibold">camping</span>
					</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">
							Modifiez les informations du camping, logo, carte, nom, adresse, téléphone...
						</div>
					</div>
				</div>
			</article>
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href="{{ path('admin_settings_prices') }}" class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.prices }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Tarifs</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">Vous pouvez régler les tarifs du camping en fonction des saisons et choisir si chaque nuit ou chaque personne multiplie le paiement.
							<br><br>
							Un service supplémentaire a 2€/nuit/personne comptera en tout pour 6€ pour une personne restant 3jours.
						</div>
					</div>
				</div>
			</article>
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href={{ path('admin_settings_seasons') }} class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.seasons }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Saisons</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">
							Définissez des saisons et leurs périodes correspondantes.
							<br><br>
							Les saisons serviront pour les autres paramètres
						</div>
					</div>
				</div>
			</article>
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href="{{ path('admin_settings_accomodations') }}" class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.places }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Emplacements d'hébergement</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">Vous pouvez régler les tarifs du camping en fonction des saisons et choisir si chaque nuit ou chaque personne multiplie le paiement.
							<br><br>
							Un service supplémentaire a 2€/nuit/personne comptera en tout pour 6€ pour une personne restant 3jours.
						</div>
					</div>
				</div>
			</article>
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href="{{ path('admin_settings_reservations') }}" class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.rules }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Règles de réservation</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">Vous pouvez régler les tarifs du camping en fonction des saisons et choisir si chaque nuit ou chaque personne multiplie le paiement.
							<br><br>
							Un service supplémentaire a 2€/nuit/personne comptera en tout pour 6€ pour une personne restant 3jours.
						</div>
					</div>
				</div>
			</article>
			<article class="admin-card relative flex flex-col gap-5 px-12 py-8 border-[3px] border-black bg-white hover:bg-green-200 hover:outline rounded-xl ">
				<a href="{{ path('admin_settings_services') }}" class="overlay"></a>
				<div class="top-card grid place-content-center">
					{{ svg.services }}
				</div>
				<div class="bot-card text-center text-xl">
					<p>Services supplémentaires</p>
				</div>
				<div class="absolute bottom-4 right-4">
					<div class="group relative cursor-help">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="NONE" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
						<div class="hidden group-hover:block z-50 absolute bg-white border bottom-full left-1/2 -translate-x-1/2 mb-4 border-black p-2 w-[300px]">Vous pouvez régler les tarifs du camping en fonction des saisons et choisir si chaque nuit ou chaque personne multiplie le paiement.
							<br><br>
							Un service supplémentaire a 2€/nuit/personne comptera en tout pour 6€ pour une personne restant 3jours.
						</div>
					</div>
				</div>
			</article>
		</section>
	</container>

{% endblock %}

{% block footer %}
	{{ footer.footer(false) }}
{% endblock %}
