{% macro nav(admin = true) %}
	<nav class="p-2 flex">
		<section id="left-nav" class="flex gap-2 items-center">
			<button id="burger-menu" class="p-2 rounded-lg  hover:bg-green-200 hover:outline">
				<svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
				</svg>
			</button>
			<button id="home" class="p-2 rounded-lg  hover:bg-green-200 hover:outline relative">
				{% if admin %}
					<a href="{{ path('admin') }}" class="overlay"></a>
				{% else %}
					<a href="{{ path('admin_settings') }}" class="overlay"></a>
				{% endif %}
				<svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
					<path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
				</svg>
			</button>
		</section>
		<section {{ stimulus_controller('admin_search') }} id="search-bar" class="relative grow md:mx-12 px-4 py-2">
			<input {{ stimulus_action('admin_search','onSearchInput','input')|stimulus_action('admin_search','search','focus')|stimulus_action('admin_search','stop','focusout') }} id="search-input" type="text" placeholder="Rechercher une fonctionnalitée" class="w-full py-3 rounded-lg focus:ring-black focus:outline-none focus:bg-green-100 hover:bg-green-100 focus:border-black">
			<section {{ stimulus_target('admin_search', 'results') }} id="search-results" class="hidden absolute left-1/2 -translate-x-1/2 bg-white border-green-200 border z-50 min-w-[60vw] w-[calc(100%-2rem)] [&>article]:search-suggestion overflow-scroll max-h-[50ch]">
			</section>
		</section>

		<section id="right-nav" class="flex gap-2 items-center">

			<button id="logout" class="p-2 rounded-lg relative  hover:bg-green-200 hover:outline">
				<a href="{{ path('logout') }}" class="overlay"></a>
				<svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 18 15">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3"/>
				</svg>
			</button>

			<button id="profil" class="p-2 rounded-lg  hover:bg-green-200 hover:outline">
				<svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 14 18">
					<path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
				</svg>
			</button>
		</section>
	</nav>
{% endmacro %}
